.modal__content_type_image {
  max-width: 498px;
  max-height: 610px;
  width: 100%;
  padding: 0 !important;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
}

.modal__image {
  width: 100% !important;
  padding: 0;
}

.modal__footer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px 32px 32px;
  position: relative;
}

.modal__caption {
  font-size: 20px;
  margin: 0;
}

.modal__weather {
  font-size: 20px;
  margin: 0;
}

.modal__delete {
  position: absolute;
  font-size: 20px;
  top: 20px;
  right: 32px;
  color: #ff4d00;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
